# Important system path setup
TIKTOKEN_CACHE_DIR=/path/to/thai-masking/Masking/tiktoken

# Source SFTP (Aspect Core)
SOURCE_SFTP_HOST=source-sftp-host
SOURCE_SFTP_PORT=31980
SOURCE_SFTP_USER=source_sftp_user
SOURCE_SFTP_PASS=source_sftp_password

# Destination SFTP (Huagati App)
DEST_SFTP_HOST=destination-sftp-host
DEST_SFTP_PORT=31980
DEST_SFTP_USER=destination_sftp_user
DEST_SFTP_PASS=destination_sftp_password

# Notification Endpoint
#NOTIFY_ENDPOINT=https://notification-service/webapi/api/v1/importmask
NOTIFY_ENDPOINT=https://notification-service/webapi/api/v1/importtranscription
NOTIFY_USER=notify_user
NOTIFY_PASSWORD=notify_password

# Local Storage
LOCAL_STORAGE_BASE=/path/to/store

# Download worker config
MAX_RETRIES=3
RETRY_DELAY=5
POLL_INTERVAL=5

# Masking worker config
BATCH_SIZE=10
MIN_PENDING_JOBS=10
MIN_PROCESS_INTERVAL=60

# JamAI client config
JAMAI_TIMEOUT_SEC=1200
JAMAI_API_BASE=http://localhost:6969/api
JAMAI_API_KEY=
JAMAI_TOKEN=

# Masking pipeline configurations
# this is the whisper container name
TRANSCRIPTION_SERVICE_NAME_GPU0=typhoon-th-gpu0
TRANSCRIPTION_SERVICE_NAME_GPU1=typhoon-th-gpu1
TRANSCRIPTION_SERVICE_RESTART_DELAY_SECONDS=10
VLLM_SERVICE_NAME=vllm-th
VLLM_API_HOST=http://localhost:18000
# 1 = True, 0 = False
VLLM_USE_SLEEP=0
SCRIPT_BASE_PATH=/path/to/thai-masking/Masking
MASKING_API_URL_GPU0=http://localhost:28001/v1/audio/transcriptions
MASKING_API_URL_GPU1=http://localhost:28002/v1/audio/transcriptions
MASKING_MODEL_ID=/path/to/local_model/mounted/scb10x_typhoon-isan-asr-whisper-ct2
MODEL_CONTEXT_LIMIT=32000
MASKING_MAX_WORKERS=2
PROJECT_ID=proj_your_project_id
FILE_RETENTION_DAYS=1
LOG_DIR=/path/to/thai-masking/logs
LOG_ROTATION_SIZE=50MB
LOG_RETENTION_DAYS=30
# To control step2b segment length
PHASE_TARGET_SECONDS=45
